resources/ADAM-6250/app\ notes/*
resources/ADAM-6250/CAD/*
resources/ADAM-6250/driver/*
resources/ADAM-6250/FAQ/*
resources/ADAM-6250/Firmware/*
resources/ADAM-6250/Utilities/*
resources/ADAM-6250/utility/*
3BF098A245CCE409D47ACF8AD4988D9D.zip

bin/*
obj/*
